# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
app/debug.keystore
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# generated inline modules
app/src/main/java/inline/

# Bundle artifacts
*.jsbundle
